:root {
  --image-width: 300px;
  --image-height: 400px;
  --grid-lg-gap: 40px;
}

body {
  margin: 0;
  font: 1.2em "Fira Sans", sans-serif;
  background-color: #840B0B;
  /* overflow-y: hidden; */
  /* overflow: hidden; */
}

main {
  overflow: hidden;
}

nav {
  padding-top: 10px;
  padding-left: 10px;
  color: white;
}


/* images container ( GRID ) */
.Images {
  display: grid;
  grid-template-columns: repeat(4, calc(var(--image-width) + 24px));
  column-gap: var(--grid-lg-gap);
  row-gap: var(--grid-lg-gap);
  width: fit-content;
  margin: 0 auto;
}

@media (width < 1450px){
  .Images {
    grid-template-columns: repeat(3, calc(var(--image-width) + 24px));
  }
}

footer {
  width: 100%;
  position: sticky;
  bottom: 0px;
  display: flex;
}

.horizontalScrollBar {
  width: 24px;
  height: 8px;
  background-color: yellow;
}

@media (min-width: 640px) and (max-width: 1132px) {
  .Images {
    grid-template-columns: repeat(2, calc(var(--image-width) + 24px));
  }
}

@media (max-width: 768px) {
  .Images {
    grid-template-columns: calc(var(--image-width) + 24px);
  }
}  

.img-shadow {
  margin: 12px;
}

.img-shadow {
	position: relative;
  overflow: hidden;
	}
    
    .img-shadow::before {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      box-shadow: inset 10px 10px 4px rgba(0,0,0,0.3);
    }

.Image-container {
  background-color: #EAEAEA;
  display: flex;
  box-shadow:
    10px 10px 4px rgba(0, 0, 0, 0.5);
}

img {
  width: 100%;
  height: 100%;
}

.Image-container:only-child {  
  margin: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
